$main-color: #044fb0;
$second-color: #ffffff;
$other-color: #03002b;
$mobile: 500px;

$font-size: (
    'normal': 18px,
    'medium': 25px,
    'large': 42px,
);

$font-weight: (
    'normal': 200,
    'medium': 500,
    'large': 700,
)